/* the body of my sites styling */
h1 {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(252, 253, 253);
  font-size: 70px;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(249, 245, 250);
  font-size: 25px;
}
p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(241, 156, 156);
  font-size: 20px;
  
  /*lists*/
}
ul {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(5, 133, 33);
  font-size: 20px;
}

ol {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(38, 23, 250);
  font-size: 20px;
}
 .center-text {
   text-align: center;
 }

header {
background-color: antiquewhite;
height: 40px;
padding: 30px;
margin: 20px;
 }

main {
background-color: rgb(8, 0, 3);
height: 900px;
padding: 40px;
margin: 40px;
 }

 footer {
  background-color: rgb(8, 0, 3);
  height: 10px;
  padding: 40px;
  margin: 40px;
   }
/* article */
 .happy {
  margin: 0;
  padding: .3rem;
  background-color: lightblue;
  font: 1rem 'Fira Sans', sans-serif;
 }

/* these are for the links to change color when interacted with*/
 a:link {
   color: blue;
  }
 a:visited {
   color: rgb(243, 29, 29);
  }
 a:hover {
   color:cadetblue;
  }
/*the footer kept floating in the middle of my page*/ 
  /*html, body {
    padding:0; 
    margin:0; 
    height:100%;
  }
footer{
  position: absolute; 
  bottom: 0; left: 0; 
  right: 0;
}*/