/* the body of my sites styling */
h1 {
  font-family: 'Courier New', Courier, monospace;
  color: darkcyan;
  font-size: 70px;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  color: darkcyan;
  font-size: 25px;
}
p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: darkblue;
  font-size: 20px;
  
  /*lists*/
}
ul {
  font-family: 'Times New Roman', Times, serif;
  color: royalblue;
  font-size: 20px;
}

ol {
  font-family: 'Times New Roman', Times, serif;
  color: royalblue;
  font-size: 20px;
}
 .center-text {
   text-align: center;
 }

header {
background-color: antiquewhite;
height: 40px;
padding: 30px;
margin: 20px;
 }

main {
background-color: lavenderblush;
height: 900px;
padding: 40px;
margin: 40px;
 }
/* article */
 .happy {
  margin: 0;
  padding: .3rem;
  background-color: lightblue;
  font: 1rem 'Fira Sans', sans-serif;
 }

/* these are for the links to change color when interacted with*/
 a:link {
   color: blue;
  }
 a:visited {
   color: black;
  }
 a:hover {
   color:cadetblue;
  }
/*the footer kept floating in the middle of my page*/ 
  html, body {
    padding:0; 
    margin:0; 
    height:100%;
  }
footer{
  position: absolute; 
  bottom: 0; left: 0; 
  right: 0;
}